<div class="dialog">
  <h1 mat-dialog-title>Hi {{fullData.nameData}}</h1>
  <div mat-dialog-content>
    <mat-card class="dialog-data">
      <mat-card-content>
        <span>ID :</span>
        <span>{{fullData.cardsData[0].ID}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Name :</span>
        <span>{{fullData.cardsData[0].Name}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Gender :</span>
        <span>{{fullData.cardsData[0].Gender}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Class :</span>
        <span>{{fullData.cardsData[0].Class}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Seat :</span>
        <span>{{fullData.cardsData[0].Seat}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Club :</span>
        <span>{{fullData.cardsData[0].Club}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Persona :</span>
        <span>{{fullData.cardsData[0].Persona}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Crush :</span>
        <span>{{fullData.cardsData[0].Crush}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Strength :</span>
        <span>{{fullData.cardsData[0].Strength}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Hairstyle :</span>
        <span>{{fullData.cardsData[0].Hairstyle}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Color :</span>
        <span>{{fullData.cardsData[0].Color}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Eyes :</span>
        <span>{{fullData.cardsData[0].Eyes}}</span>
      </mat-card-content>
      <mat-card-content>
        <span>Info :</span>
        <span>{{fullData.cardsData[0].Info}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>






























<!-- <div mat-dialog-content>
  <mat-table [dataSource]="cardsData" class="mat-elevation-z8 table">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Gender}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="class">
        <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Class}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="seat">
        <mat-header-cell *matHeaderCellDef> Seat </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Seat}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="club">
        <mat-header-cell *matHeaderCellDef> Club </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Club}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="persona">
        <mat-header-cell *matHeaderCellDef> Persona </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Persona}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="crush">
        <mat-header-cell *matHeaderCellDef> Crush </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Crush}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="strength">
        <mat-header-cell *matHeaderCellDef> Strength </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Strength}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="hairstyle">
        <mat-header-cell *matHeaderCellDef> Hairstyle </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Hairstyle}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Color}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="eyes">
        <mat-header-cell *matHeaderCellDef> Eyes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Eyes}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef>Info
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Info}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->